:host {
  ion-card {
    --background: white;
    margin-inline: 0;
    border-radius: 14px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

    > img {
      max-height: 190px;
      width: 100%;
      object-fit: cover;
    }

    ion-card-header {
      padding-bottom: 8px;
      ion-card-title {
        font-size: 18px;
        font-weight: 600;
      }
      ion-card-subtitle {
        display: flex;
        align-items: center;
        color: var(--ion-color-medium);
        font-size: 14px;
        font-weight: 600;
      }
    }

    ion-card-content {
      padding-bottom: 0;
      .info {
        display: flex;
        align-items: center;
        padding-top: 8px;
        > div {
          padding-right: 8px;
          > img {
            padding-right: 8px;
          }
        }
        .distance {
          display: flex;
          align-items: center;
          border-right: 1px solid var(--ion-color-light-shade);
        }
        .activities {
          display: flex;
          padding-left: 8px;
          border-right: 1px solid var(--ion-color-light-shade);
          > div {
            padding-right: 8px;
            &:last-child {
              padding-right: 0;
            }
          }
        }
        .duration {
          display: flex;
          align-items: center;
          padding-left: 8px;
        }
      }
    }
  }
}
