<ion-card mode="md">
  <!-- TODO: Modificare l'ombra della card -->
  <img alt="" src="{{ trip.route.image_url }}" />
  <ion-card-header>
    <ion-card-title>{{ trip.route.name | cytrans }}</ion-card-title>
    <ion-card-subtitle>
      <img src="assets/icon/svgs/pin-icon.svg" />
      <span>{{ trip.route.location | cytrans }}</span>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="data">{{ trip.from | dateRange: trip.route.duration }}</div>
    <div class="info">
      <div class="distance">
        <img src="assets/icon/svgs/pills-icon.svg" />
        <span>{{ trip.route.distance | distance }}</span>
      </div>
      <div class="activities">
        <cy-activities [activities]="trip.route.activities"></cy-activities>
      </div>
      <div class="duration">
        <img src="assets/icon/svgs/calendar-icon.svg" />
        <span>{{ trip.route.duration }} {{ 'giorni' | cytrans }}</span>
      </div>
    </div>
  </ion-card-content>

  <ion-button fill="clear" (click)="openTripPdfViewer()">{{
    'VEDI DOCUMENTO DI VIAGGIO' | cytrans
  }}</ion-button>
</ion-card>
