<ion-card mode="md">
  <!-- TODO: Modificare l'ombra della card -->
  <img alt="" src="{{ trip.route.image_url }}" />
  <ion-card-header>
    <ion-card-title>{{ trip.route.name.it }}</ion-card-title>
    <ion-card-subtitle>
      <img src="assets/icon/pin-icon.svg" />
      <span>{{ trip.route.location | cytrans }}</span>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="data">{{ trip.from | date: 'mediumDate' }}</div>
    <div class="info">
      <div class="distance">
        <img src="assets/icon/pills-icon.svg" />
        <span>{{ trip.route.distance | distance }}</span>
      </div>
      <div class="activities">
        <ng-container *ngFor="let act of trip.route.activities">
          <div>{{ act | cytrans }}</div>
        </ng-container>
      </div>
      <div class="duration">
        <img src="assets/icon/calendar-icon.svg" />
        <span>{{ trip.route.duration }} {{ 'giorni' | cytrans }}</span>
      </div>
    </div>
  </ion-card-content>

  <ion-button fill="clear">{{
    'VEDI DOCUMENTO DI VIAGGIO' | cytrans
  }}</ion-button>
</ion-card>
