<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">{{
        'Chiudi' | cytrans
      }}</ion-button>
    </ion-buttons>
    <ion-title>{{ trip.route.name | cytrans }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="download()">{{ 'Scarica' | cytrans }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="pdf-container" #pdfContainer>
    <ngx-extended-pdf-viewer
      *ngIf="trip && trip.route.pdf_url"
      [src]="trip.route.pdf_url"
      [(zoom)]="zoomSetting"
      [minZoom]="minZoom"
      [maxZoom]="maxZoom"
      [height]="'100%'"
      [zoomLevels]="zoomLevels"
      [handTool]="true"
      [showToolbar]="false"
      [showBorders]="false"
      [showSidebarButton]="false"
      [showFindButton]="false"
      [showPagingButtons]="false"
      [showZoomButtons]="false"
      [showPresentationModeButton]="false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showSecondaryToolbarButton]="false"
      backgroundColor="#fffbf7"
    ></ngx-extended-pdf-viewer>
  </div>
</ion-content>
