

<ion-content>
  <div class="container">
    <div class="logo">
      <img src="assets/img/cyclando-logo.png" alt="Cyclando Logo">
    </div>
    <div class="content">
      <div class="icon">
        <img src="assets/img/thumbs-up.png" alt="Thumbs Up">
      </div>
      <h1>Tutto a portata di mano</h1>
      <p>I tuoi documenti sono sempre disponibili, in qualsiasi momento!</p>
      <ion-button expand="block" class="create-account" routerLink="/register">CREA UN NUOVO ACCOUNT</ion-button>
      <ion-button fill="outline" expand="block" class="login-account" routerLink="/login">ACCEDI AL TUO ACCOUNT</ion-button>
      <small>Proseguendo con l'app si acconsente ai <a href="#">Termini & Condizioni</a>.</small>
    </div>
  </div>
</ion-content>
