:host {
  ion-content {
    --background: linear-gradient(#ffecd1, 25%, #fff);
    font-family: var(--ion-font-family); /* Applicazione del font */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 20px 36px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .top-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  .logo img {
    width: 189px;
    margin-top: 28px;
    margin-bottom: 20px;
  }

  .icon img {
    width: 224.44px;
  }

  h1 {
    color: var(--ion-text-color-primary);
    font-size: 22px;
    margin: 5px;
    font-weight: 700;
  }

  p {
    color: var(--ion-text-color-secondary);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
  }

  ion-button {
    height: 55px; /* Altezza dei pulsanti */
  }

  .create-account {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }

  .login-account {
    --background: var(--ion-color-contrast);
    --border-width: 1px;
    color: var(--ion-color-primary);
  }

  small {
    color: var(--ion-text-color-secondary);
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  a {
    color: var(--ion-link-color);
    text-decoration: underline;
  }
}
