<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'Conferma Email' | cytrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Verifica il tuo indirizzo email!</h1>
    <p>
      Una email di verifica è stata inviata al tuo indirizzo
      <span>qui&#64;quo.qua</span><br />
      Controlla la tua mail e fai click sul link nell'email per completare la
      registrazione dell'account.
    </p>
    <p>
      se non ricevi l'e-mail entro i prossimi 5 minuti, utilizza il pulsante in
      basso per inviare nuovamente l'e-mail di verifica.
    </p>
    <ion-button expand="block"> RINVIA EMAIL DI VERIFICA </ion-button>
  </div>
</ion-content>
