:host {
  h1 {
    font-weight: bold;
    margin: 8px 0px;
  }
  p {
    margin: 0;
    line-height: 1.5;
  }
  ion-list {
    margin-bottom: 24px;
  }
  ion-item {
    --padding-start: 0px;
    --border-color: var(--ion-color-medium);
  }
  ion-input {
    --placeholder-color: var(--ion-color-medium);
    --placeholder-font-weight: 500;
  }
  .privacy {
    font-size: 0.8em;
    span {
      color: var(--ion-color-primary);
      text-decoration: underline;
    }
  }
}
