<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="indietro"
        icon="chevron-back-outline"
        color="medium"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Registrati' | cytrans}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>{{'Pronti per l’avventura?' | cytrans}}</h1>
    <p>
      Entra gratis nella community e ricevi offerte esclusive e nuovi itinerari
      per te.
    </p>
    <form id="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input
            type="text"
            formControlName="name"
            placeholder="Nome"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)"
        >
          <ion-text
            class="inpt-error"
            color="danger"
            *ngIf="registerForm.get('name')?.errors?.['required']"
          >
            {{'Nome richiesto.' | cytrans}}
          </ion-text>
        </div>
        <ion-item>
          <ion-input
            type="text"
            formControlName="surname"
            placeholder="Cognome"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('surname')?.invalid && (registerForm.get('surname')?.dirty || registerForm.get('surname')?.touched)"
        >
          <ion-text
            class="inpt-error"
            color="danger"
            *ngIf="registerForm.get('surname')?.errors?.['required']"
          >
            {{'Cognome richiesto.' | cytrans}}
          </ion-text>
        </div>
        <ion-item>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Email"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
        >
          <ion-text
            class="inpt-error"
            color="danger"
            *ngIf="registerForm.get('email')?.errors?.['required']"
          >
            {{'Email richiesta.' | cytrans}}
          </ion-text>
          <ion-text
            class="inpt-error"
            color="danger"
            *ngIf="registerForm.get('email')?.errors?.['email']"
          >
            {{'Formato email non valido.' | cytrans}}
          </ion-text>
        </div>
        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Password"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
        >
          <ion-text
            class="inpt-error"
            color="danger"
            *ngIf="registerForm.get('password')?.errors?.['required']"
          >
            {{'Password richiesta.' | cytrans}}
          </ion-text>
          <ion-text
            class="inpt-error"
            color="danger"
            *ngIf="registerForm.get('password')?.errors?.['minlength']"
          >
            {{'La password deve avere almeno 8 caratteri.' | cytrans}}
          </ion-text>
        </div>
        <ion-item>
          <ion-input
            type="password"
            formControlName="password_confirmation"
            placeholder="Conferma Password"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.errors?.['stringMismatch'] && registerForm.get('password')?.touched"
        >
          <ion-text class="inpt-error" color="danger">
            {{'Le password non corrispondono.' | cytrans}}
          </ion-text>
        </div>
        <ion-item class="privacy">
          <ion-checkbox
            slot="start"
            mode="md"
            formControlName="privacy"
          ></ion-checkbox>
          <ion-label
            >{{'Accetto la' | cytrans}}
            <span class="link" (click)="openPrivacyPolicy()"
              >privacy policy</span
            >{{'del servizio'| cytrans}}</ion-label
          >
        </ion-item>
        <div *ngIf="(submitted$|async) && registerForm.get('privacy')?.invalid">
          <ion-text class="inpt-error" color="danger">
            {{'Devi accettare i termini e le condizioni' | cytrans}}
          </ion-text>
        </div>
      </ion-list>
      <ion-button class="submit-login" expand="block" type="submit"
        >{{'REGISTRATI' | cytrans}}</ion-button
      >
    </form>
  </div>
</ion-content>
